<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar/Editar Filial</title>
</head>
<body>

<h1 th:text="${filial.id != null} ? 'Editar Filial' : 'Cadastrar Filial'"></h1>

<form th:action="@{/filiais/salvar}" th:object="${filial}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="nome">Nome:</label>
        <input id="nome" type="text" th:field="*{nome}" required />
        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" style="color:red"></div>
    </div>

    <div>
        <label for="cnpj">CNPJ:</label>
        <input id="cnpj" type="text" th:field="*{cnpj}" required />
        <div th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}" style="color:red"></div>
    </div>

    <div>
        <label for="ano">Ano:</label>
        <input id="ano" type="number" th:field="*{ano}" required />
        <div th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}" style="color:red"></div>
    </div>
    <hr>
    <button type="submit">Salvar Filial</button>
</form>

</body>
</html>
